*{margin: 0;padding: 0}

.signin .row .text {
    background: white;
    position: relative;
    overflow: hidden;
}

.signin .row .text .dangnhap,.signin .row .text .dangky {
    position: absolute;
    left: 50%;
    margin-left: -20vw;
    width: 40vw;
    /* min-width: 400px; */
    opacity: 0;
    visibility: hidden;
}

.signin .row .text .dangnhap {
    opacity: 1;
    visibility: visible;
}

.signin .row .text .dangky {
    /* opacity: 1; */
    /* visibility: visible; */
}

.signin .row .text .dangky {
    opacity: 0;
    visibility: hidden;
}

.signin .row .text form {
    margin-bottom: 20px;
}

.signin .row .text button {
    padding: 11px 29px;
    border-color: black;
    color: black;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    transition: 0.5s;
    position: relative;
}

.signin .row .text button:hover:before,.signin .row .text button:hover:after {
    width: 100%;
    height: 100%;
}

.signin .row .text button:before {content: "";position: absolute;left: 0;top: 0;width: 10px;height: 10px;border-left: 2px solid black;transition: 0.3s;border-top: 2px solid black;}

.signin .row .text button:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transition: 0.3s;
}

.signin .row .text button:hover {
    background: black;
    color: white;
}

.signin .row .text h1 {
    padding-top: calc(35vh - 160px);
    margin-bottom: 30px;
}

.signin .row .text .form-control {
    width: 40%;
    border-color: white;
    text-align: center;
    margin: auto;
    border-radius: 17px;
    transition: 0.4s;
    box-shadow: 4px 7px 11px #c5c5c5;
    min-width: 120px;
}

.signin .row .text .form-check-input {
    /* margin: 0; */
    /* width: 13px; */
    /* margin: auto; */
    /* background: white; */
    /* border: none; */
    /* box-sizing: unset; */
}

.signin .row .text .form-control:focus {
    width: 60%;
    border-color: white;
    min-width: 200px;
}

.signin .row .text a {
    text-decoration: none;
}

.signin {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #ffffffab;
    /* z-index: 30; */
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.signin i {
    position: fixed;
    right: 5px;
    top: 5px;
    font-size: 28px;
    filter: blur(1px);
    cursor: pointer;
    /* box-shadow: 1px 1px 1px black; */
    color: #717171;
    transition: 0.4s;
}

.signin i:hover {
    color: black;
    filter: none;
}

.signin .row {
    width: 80vw;
    height: 80vh;
    left: 10%;
    top: 10%;
    position: fixed;
    /* border: 1px solid black; */
    border-radius: 15px;
    /* z-index: 99; */
    overflow: hidden;
    box-shadow: 3px 5px 9px 3px #5f5f5f;
}

.signin .row .anh {
    height: 100%;
    /* background: yellow; */
    padding: 0;
    overflow: hidden;
}

.signin .row .anh img {
    max-height: 100%;
    /* width: auto; */
    width: 100%;
    height: 80vh;
    /* transform: translateX(0px); */
    /* transform: translateX(10px); */
    /* left: 0px; */
    padding-left: 1px;
    min-height: 520.8px;
    min-width: 352.53px;
}



section.quanaonu .row {
    /* flex-direction: row-reverse; */
}

section.quanaonam .text a, section.quanaonu .text a,section.quanaotreem .text a {
    /* border-color: black; */
    color: black;
    border-radius: 0px;
    /* padding-top: 13px; */
    border: none;
    /* margin-top: 71px; */
    position: relative;
    margin: auto;
    text-transform: uppercase;
    transition: 0.8s;
}

section.quanaonam .text a:before, section.quanaonu .text a:before, section.quanaotreem .text a:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: 0;
    top: 0;
    border-left: 2px solid black;
    border-top: 2px solid black;
    transition: 0.4s;
}

section.quanaonam .text a:hover:before, section.quanaonu .text a:hover:before, section.quanaotreem .text a:hover:before,section.quanaonam .text a:hover:after, section.quanaonu .text a:hover:after, section.quanaotreem .text a:hover:after {
    width: 100%;
    height: 100%;
}

section.quanaonam .text a:hover:after, section.quanaonu .text a:hover:after, section.quanaotreem .text a:hover:after {}

section.quanaonam .text a:after, section.quanaonu .text a:after, section.quanaotreem .text a:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transition: 0.4s;
}

section.quanaonam .text a:hover, section.quanaonu .text a:hover, section.quanaotreem .text a:hover {
    color: white;
    background: black;
}
@font-face {
	font-family: "fontcollection";
	src:url("fonts/fontcollection/FracturaND/FracturaND.ttf");
}
section.quanaonam .anh div#carousel-example-generic .carousel-item.active {
    height: 100%;
}

section.quanaonam .anh div#carousel-example-generic .carousel-inner, section.quanaonu .anh div#carousel-example-generic .carousel-inner,section.quanaotreem .anh div#carousel-example-generic .carousel-inner {
    height: 100%;
}

section.quanaonu .anh div#carousel-example-generic .carousel-inner {}

section.quanaonam .anh div#carousel-example-generic img, section.quanaonu .anh div#carousel-example-generic img,section.quanaotreem .anh div#carousel-example-generic img {
    /* height: 100%; */
    /* transform: translateY(-34px); */
    min-height: 525px;
}

section.quanaonam .anh div#carousel-example-generic {
    width: 100%;
    height: 100%;
}

section.quanaonu .anh div#carousel-example-generic,section.quanaotreem .anh div#carousel-example-generic {
    width: 100%;
    height: 100%;
}

.thanhslide div#carousel-example-generic .carousel-inner {
    height: 100%;
}

.thanhslide div#carousel-example-generic .carousel-item {
    width: 100%;
    height: 100%;
}

.thanhslide div#carousel-example-generic .carousel-item img {
    width: 100%;
    height: 100%;
}

.thanhslide div#carousel-example-generic {
    height: 100%;
    width: 100%;
}

.thanhslide div#carousel-example-generic a:hover {
    background: none;
}

.thanhslide div#carousel-example-generic a {
    background: none;
}

header .menutop .menu .navbar ul li {
    margin: 0;
    /* position: inherit; */
    /* z-index: 99; */
}

header .menutop .menu .navbar ul {
    position: relative;
    z-index: 0;
}

header .menutop .menu .navbar ul li:nth-child(1) a {
   
}

header .menutop .menu .navbar ul .themove {
    position: absolute;
    width: 116px;
    height: 53px;
    background: black;
    z-index: -99;
    transition: 0.4s;
}

header .menutop .menu .navbar {
    padding: 0;
    height: 100%;
    /* width: 100%; */
    background: none;
}

header .menutop .menu .navbar {}

header .menutop .menu .navbar ul li:nth-child(2) a {
    
}
header .menutop .menu .navbar ul li a {
    text-transform: uppercase;
    color: black;
    padding: 22px 18px;
    font-size: 17px;
    padding-bottom: 6px;
}

header .menutop .menu .navbar ul li:nth-child(1) a {
    color: white;
}

header .menutop .menu .navbar ul li:nth-child(1) a {
    color: white!important;
    z-index: 9;
}

.about {
    width: 100%;
    height: 500px;
    background: pink;
}

section.quanaonu {
    height: 600px;
    width: 100%;
    background: orange;
    background: #efefef00;
    height: 700px;
    width: 100%;
    overflow-x: hidden;
}

section.quanaonam .text, section.quanaonu .text,section.quanaotreem .text {
    margin-top: 75px;
    /* color: white; */
    padding-bottom: 75px;
}

section.quanaonam .text h1, section.quanaonu .text h1,section.quanaotreem .text h1 {font-family: "fontcollection";text-align: center;padding-top: 130px;margin-bottom: 36px;}

section.quanaonam, section.quanaotreem {
    background: #efefef69;
    height: 700px;
    width: 100%;
    overflow-x: hidden;
}

section.quanaonam .anh, section.quanaonu .anh, section.quanaotreem .anh {
    height: 550px;
    /* background: black; */
    margin-top: 75px;
    color: white;
    overflow: hidden;
    /* padding: 0; */
}

section.quanaonam .anh {}

section.quanaonam .anh {}

section.thanhslide {
    width: 100%;
    /* background: green; */
    height: 520px;
    /* max-width: 1992px; */
    /* margin: auto; */
}

section.thanhslide .container {
    height: 100%;
}

html,body {
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    width: 100%;
}

header .thanhden {
    width: 100%;
    height: 25px;
    background: black;
}

header .thanhden ul {
    list-style: none;
    float: right;
    margin: 0;
}

header .thanhden ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

header .thanhden ul li {
    float: left;
    margin: 0 10px;
    /* margin-bottom: 0; */
}

header .menutop {
    width: 100%;
    background: none;
    height: 140px;
}

header .menutop .logo {
    height: 87px;
    background: none;
    /* margin: auto; */
    /* justify-content: center; */
    vertical-align: middle;
}

header .menutop .logo h1 {
    /* margin: auto; */
    display: inline-block;
    margin: 0;
    /* text-align: center; */
    vertical-align: middle;
    margin-top: 21.5px;
}

header .menutop .menu {
    height: 53px;
    /* background: blue; */
}

header .menutop .menu .icons {
    float: right;
}

header .menutop .menu .icons .thesearch {
    float: left;
    background: none;
    border: 1px solid black;
    border-color: #ffffff00;
    border-radius: 34px;
    overflow: hidden;
    transition: 0.4s;
    margin-top: 6px;
    cursor: pointer;
}

header .menutop .menu .icons .thesearch input {
    border: none;
    /* margin-top: -114px; */
    transform: translateY(-5px);
    /* padding-left: 13px; */
    width: 0;
    transition: 0.4s;
    /* display: inline-block; */
    text-align: center;
}

header .menutop .menu .icons .thesearch:hover input {
    width: 160px;
}

header .menutop .menu .icons .thesearch:hover {border-color: #adacac;}

header .menutop .menu .icons .thebag {
    float: left;
    position: relative;
}

header .menutop .menu .icons .thebag::before {content: "0";position: absolute;left: 43%;top: 41%;color: #00BCD4;font-weight: 600;}

header .menutop .menu .icons .thebag i {
    padding: 14px 15px;
    /* padding-right: 0; */
    padding-bottom: 6px;
    font-size: 30px;
    color: #656d73;
}

header .menutop .menu .icons .thesearch i {
    font-size: 30px;
    padding: 8px 10px;
    color: #656d73;
    padding-bottom: 6px;
}

header .menutop .menu .icons .thesearch:hover i {}
@media (max-width: 991px){
	*{}

header .menutop .menu .icons .thesearch:hover {
    background: white;
}

header .menutop .menu .navbar ul .themove {
    opacity: 0;
    visibility: hidden;
}

header .menutop .menu .navbar {
    height: auto;
    position: relative;
    z-index: 2;
}

header .menutop .menu .navbar ul {
    /* margin-top: 9px; */
    /* padding-top: 37px; */
}

header .menutop .menu .navbar button {
    color: black;
    border: none;
}

header .menutop .menu .navbar ul li a {
    color: white!important;
    text-align: right;
    /* display: inline-block; */
}

header .menutop .menu .navbar div#exCollapsingNavbar2 {
    background: black;
    margin-top: -1px;
    padding-top: 24px;
    width: 100%;
}

header .menutop .logo h1 {}

header .menutop .logo h1 {
    margin-top: 4.5px;
}

header .menutop .logo {
    height: 53px;
}

header .menutop {
    height: auto;
}
}
@media (max-width: 767px){
	*{}

section.quanaonu .row {
    flex-direction: column-reverse;
}

section.quanaonam .text h1, section.quanaonu .text h1,section.quanaotreem .text h1 {
    padding: 0px;
    font-size: 90px;
}

section.quanaonam .anh div#carousel-example-generic img {
    height: auto;
}

header .menutop .menu {
    padding-right: 0;
}

section.quanaonam, section.quanaonu,section.quanaotreem {
    height: auto;
}
}
@media (max-width: 575px){
	*{}

.signin .row .text h1 {
    padding-top: calc(30vh - 160px);
}

.signin .row .text .dangnhap,.signin .row .text .dangky {
    min-width: 307px;
    margin-left: -154px;
}

.signin .row .text .form-control:focus {
    /* padding-right: 27px; */
    /* width: 200px; */
    /* margin-right: 27px; */
}

.signin .row {
    flex-direction: column;
    width: 86vw;
}

.signin .row .text {
    height: 80vh;
    position: absolute;
}

.signin .row .anh {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

section.quanaonam .text, section.quanaonu .text,section.quanaotreem .text {
    margin-top: 0;
    padding-bottom: 38px;
}

section.quanaonam .text h1, section.quanaonu .text h1,section.quanaotreem .text h1 {
    font-size: 15vw;
    /* margin-top: 0; */
}
}