*{margin: 0;padding: 0}
.nen {
    width: 100%;
    height: 100vh;
    position: relative;
}

.nen .khungcong {
    left: 10%;
    top: 10%;
    position: absolute;
    width: 80%;
    height: 80%;
    /* padding: 20px; */
    /* padding-top: 10%; */
    /* margin-left: 10%; */
    background: #00000075;
}

.nen .khungcong .container {
    height: 100%;
}

.nen .khungcong .container .row {
    height: 100%;
}

.nen .khungcong .text {
    background: blue;
}

.nen .khungcong .anh {
    background: yellow;
}